.header {
  background-color: #eff1f7;
  border-radius: 50px;
  border: 1px solid white;
  height: 100%;
  display: flex;
  padding: 0;
}

.notify_border {
  margin: 2% 3%;
  padding: 1% 2%;
  background-color: #E7EDF2;
  border-radius: 50px;
  border: 2px solid white;
  height: 100%;
}

.main_content {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid white;
  height: 100%;
}

.header_menu {
  width: 100px;
  display: flex;
  flex-flow: column;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radius_menu {
  border-radius: 10px;
}

.back_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d7db;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 29%);
  -moz-box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 29%);
  box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 29%);
}